*.m3 filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.version filter=lfs diff=lfs merge=lfs -text
(attributes) filter=lfs diff=lfs merge=lfs -text
CellAttribute_U1 filter=lfs diff=lfs merge=lfs -text
CellAttribute_U2 filter=lfs diff=lfs merge=lfs -text
CellAttribute_U3 filter=lfs diff=lfs merge=lfs -text
DocumentHeader filter=lfs diff=lfs merge=lfs -text
MapInfo filter=lfs diff=lfs merge=lfs -text
t3CellFlags filter=lfs diff=lfs merge=lfs -text
t3FluffDoodad filter=lfs diff=lfs merge=lfs -text
t3HardTile filter=lfs diff=lfs merge=lfs -text
t3HeightMap filter=lfs diff=lfs merge=lfs -text
t3SyncCliffLevel filter=lfs diff=lfs merge=lfs -text
t3SyncHeightMap filter=lfs diff=lfs merge=lfs -text
t3SyncTextureInfo filter=lfs diff=lfs merge=lfs -text
t3TextureMasks filter=lfs diff=lfs merge=lfs -text
t3VertCol filter=lfs diff=lfs merge=lfs -text
t3Water filter=lfs diff=lfs merge=lfs -text
